body{
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    background: #000000 url(../image/body-bg.jpg) no-repeat center top;
    color: #ffffff;
}
.inner-page{
    color: #000000;
    background: #f8f3f0 url(../image/pattern-white.jpg) repeat;
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.btn{
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn:hover, .btn:active{
    background-color: #663d15;
}
.btn.disabled,
.btn:disabled{
    cursor: default;
    opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover{
    background-color: #000000;
}
/*Header*/
.side-head{
    background-color: #000000;
    color: #ffffff;
}
.inner-page .side-head{
    margin-bottom: 55px;
}
.main-navigation{
    float: left;
    width: 780px;
}
.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.main-navigation li{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}
.main-navigation a{
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}
.main-navigation a:hover{
    background: #242424;
}
.main-navigation .logo-inner{
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
}
.main-navigation .logo-inner img{
    width: 111px;
    height: 24px;
}
.main-navigation .logo-inner:hover {
    background: none;
}
.main-navigation .active{
    position: relative;
}
.main-navigation .active a:hover{
    background: none;
}
.main-navigation .active::after {
    content: "";
    position: absolute;
    height: 5px;
    right: 20px;
    left: 20px;
    bottom: 0;
    background-color: #ffffff;
}
.main-navigation .active span{
    display: block;
    padding: 25px 20px;
}
.user-block{
    float: right;
    max-width: 140px;
}
.login{
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}
.login:before{
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 16px;
    background: url(../image/icon-login.png) no-repeat;
    opacity: 0.3;
}
.login:hover::before{
    opacity: 1;
}
.user-block a{
    display: block;
    padding: 25px 20px 25px 50px;
}
.user-block a:hover{
    background: #242424;
}


/*main*/
.index-logo{
    width: 368px;
    height: 204px;
    margin: 55px auto 30px auto;
}
/*First block*/
.features{
    margin-bottom: 80px;
}
.features-item{
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}
.features-item:last-child{
    margin-right: 0;
}
.features-name{
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}
.features-name::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #ffffff ;
}
.features-item p {
    margin: 10px 10px 0 10px;
}
/*Second block*/
.index-content{
    background: url(../image/line-shadow.png) no-repeat center,
    #f4f1ee url(../image/pattern-white.jpg);
    padding: 50px 80px 50px 70px;
    margin-top: 25px;
    color: #000000;
}
.index-content-left{
    float: left;
    width: 340px;
    min-height: 340px;
}
.index-content-right{
    float: right;
    width: 300px;
}
.index-content-title{
    margin: 0 0 25px 0;
    font-size: 30px;
    line-height: 42px;
}
.index-content p{
    margin: 0;
    padding-bottom: 30px;
}
.news-preview{
    margin: 0;
    padding: 0 35px 0 0;
    list-style: none;
}
.news-preview p{
    padding-bottom: 0;
}
.news-preview li{
    margin-bottom: 25px;
}
.news-preview time{
    text-transform: none;
    font-weight: 400;
}

.gallery{
    position: relative;
    height: 260px;
}
.gallery-content{
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}
.gallery-content{
    width: 286px;
    height: 164px;
}
.gallery .btn{
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}
.gallery-prev{
    left: 0;
}
.gallery-next{
    right: 0;
}

/*Third block*/
.appointment-form input{
    float: left;
    width: 106px;
    padding: 7px 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    /*font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase; */
    font: inherit;
    color: inherit;
    text-transform: inherit;

    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}
.appointment-form input:nth-child(even){
    margin-right: 0;
}
.appointment-form .btn{
    clear: both;
    width: 100%;
}
.appointment-form input:focus{
    border: 2px solid #664816;
}

/*Footer*/
.main-footer{
    color: #ffffff;
    background: #232323 url(../image/pattern-black.jpg);
    margin-top: 60px;   
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer-contacts{
    float: left;
    width: 320px;
    margin-right: 70px;
}
.footer-contacts a{
    color: #ffffff;
}
.footer-contacts a:hover{
    text-decoration: none;
}

.footer-social{
    float: left;
    width: 180px;
    text-align: center;
}
.footer-social p {
    margin: 0;
    padding-bottom: 15px;
}
.social-btn{
    display: inline-block;
    position: relative;
    width: 43px;
    height: 43px;
    margin: 0 2px;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #000000  url(../image/sprite.png) no-repeat ;
    transition:
    background-position 0.5s,
    background-color 0.5s;
}
.social-btn:hover{
    background-color: #ffffff;
}
.social-btn-vk{
    background-position: 8px -136px;
}
.social-btn-fb{
    background-position: 15px -42px;
}
.social-btn-inst{
    background-position: 11px -237px
}
.social-btn-vk:hover{
    background-position: 8px -90px;
}
.social-btn-fb:hover{
    background-position: 15px 10px;
}
.social-btn-inst:hover{
    background-position: 11px -186px;
}

.footer-copyright{
    float: right;
    max-width: 180px;
    text-align: center;
}
.footer-copyright p{
    margin: 0 0 15px 0;
}
.footer-copyright .btn{
    margin-right: 0;
    transition: background-color 0.5s;
}
.footer-copyright .btn:hover{
    background-color: #ffffff;
    color: #000000;
}

/*Стили внутренних стрниц*/
.inner-page-title{
    margin-bottom: 55px;
}
.inner-page-title h1{
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}
.breadcrumbs{
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 40px;
}
.breadcrumbs li::after{
    content: "";
    position: absolute;
    top: 4px;
    right: 18px;
    width: 8px;
    height: 8px;
    background: #000000;
    transform: rotate(45deg);
}
.current::after{
    display: none;
}
.breadcrumbs a{
    color: #000000;
    text-decoration: none;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.breadcrumbs  .current{
    color: #aba9a7;
}
/*content*/
.inner-content h2{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}
.inner-content  p{
    margin: 14px 0;
}
.inner-content table{
    border-collapse: collapse;
}
.inner-content td{
    padding: 10px 15px;
    border: 2px solid #000000;
}

.big-heading{
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}
.big-heading h2{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 48px;
    background: #f8f3f0 url(../image/pattern-white.jpg);
    text-align: center;
    z-index: 2;
}
.big-heading:after{
    content: "";
    position: relative;
    top: -25px;
    display: block;
    border-bottom: 2px solid #000000;
    z-index: 1;
}
.custom-list-1{
    margin: 14px 0;
    padding: 0;
    list-style: none;
}
.custom-list-1 li{
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}
.custom-list-1 li::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #000000;
    transform: rotate(45deg);
}

.price-table{
    width: 100%;
}
.price-table td{
    width: 50%;
}
.price-table td:last-child{
    text-align: center;
}

.inner-columns{
    margin: 60px 0;
}
.inner-column-left,
.inner-column-right{
    width: 460px;
}
.inner-column-left{
    float: left;
}
.inner-column-right{
    float: right;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child{
    margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child{
    margin-bottom: 0;
}
.short-text{
    padding-right: 80px;
}

/*Всплывающая форма*/
.modal-content{
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    width: 300px;
    z-index: 3;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f3f0 url(../image/pattern-white.jpg);
    animation: open-login-form 2s;
}
.modal-content-close{
    position: absolute;
    top: 0px;
    right: -30px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after{
    content: "";
    position: absolute;
    top:10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}
.modal-content-close::before{
    transform: rotate(45deg);
}
.modal-content-close::after{
    transform: rotate(-45deg);
}
.modal-content h2{
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 42px;
}
.modal-content p {
    margin: 0 0 14px 0;
}
.modal-content .login-form{
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    width: 236px;
    margin: 0 0 20px 0;
    padding: 10px 40px 10px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}
.login-form input:focus{
    border-color: #663d15;
}
.login-form input.icon-user{
    background-image: url("");
}
.login-form input.icon-password{

}
.login-form .restore{
    float: right;
    color: #000000;
}
.login-form . btn{
    width: 100%;
    margin-top: 15px;
}
.login-checkbox,
.producer-checkbox{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.login-checkbox input[type="checkbox"],
.producer-checkbox input[type="checkbox"]{
    display: none;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator,
.producer-checkbox input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after,
.producer-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.producer-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after
{
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.producer-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
     transform: rotate(45deg);
 }

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after,
.producer-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
    transform: rotate(-45deg);
}
@keyframes open-login-form{
    0% {top: -500px;}
    50% {top: 140px;}
    100% {top: 120px;}
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}
.modal-error{
    animation: shake 1s;
}

/*Map*/
.modal-content-map{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;
    background: #e9e5dc url(../image/map.png);
    border: 7px solid white;
    box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

/*Shop*/
.sort-block{
    width: 220px;
}
.producer-checkbox{
    padding-left: 40px;
}
.producer-checkbox input[type="checkbox"] + .checkbox-indicator{
    top: -1px;
}